body
  height: 100%
  margin: 0
  background-repeat: no-repeat
  background-attachment: fixed
  @include linear-gradient(50deg, #5F0BE0, #EB417B)

section.topbar
  background-color: RGBA(0, 176, 199, 0.5)
  .logo
    padding: 10px 0 0 10px
    height: 45px
    font-weight: bold
    color: $light-font
    .large-12-columns
      i
        &:hover,
        &:focus
          color: darken($light-font, 10)
      a
        color: $light-font
        &:hover,
        &:focus
          color: darken($light-font, 10)
section.layoute
  background-color: rgba(255, 255, 255, 0.7)
  color: $dark-font
  .large-12-columns
    padding: 5px 5px 0 5px

section.footer
  color: $dark-font
  background-color: rgba(255, 255, 255, 0.5)
  padding-top: 25px
  .large-12-columns
    border-top: 1px solid $c-regent-blue
    padding: 5px 5px 0 5px
    p
      margin: 0
      text-align: center
.lang-swith.pull-right
  font-weight: normal
  li.en
    background: url(us.png) center right no-repeat
  li.ru
    background: url(ru.png) center right no-repeat
  li
    display: inline-block
    width: 40px
    height: 20px
    a
      color: #5F0BE0!important
      text-decoration: underline

