.error
  color: red
  display: block
  border-bottom: 1px solid red
a.logo-name
  color: #FFF
  padding-left: 5px
  font-weight: 600
.intro
  display: inline-block
  margin-left: 40px
  font-weight: 200
  font-size: 1em
#notice
  &:hover,
  &:focus
  cursor: pointer
  position: absolute
  z-index: 999
  top: 45px
  left: 0
  right: 0
  background: RGBA(0, 176, 199, 0.8)
  color: #FFF
  font-weight: 600
  text-align: center
  line-height: 2.5
  overflow: hidden
  -webkit-box-shadow: 0 0 8px black
  -moz-box-shadow:    0 0 8px black
  box-shadow:         0 0 8px black

h1.cards
  border-bottom: 1px solid RGBA(0, 176, 199, 0.1)
  font-size: 1.8em
  font-weight: 300

table.cards
  thead
    tr
      th:nth-child(1)
        width: 50px
      th:nth-child(4)
        width: 140px
      th:nth-last-child(1)
        width: 130px
  tbody
    tr:nth-child(even)
      background-color: RGBA(0, 176, 199, 0.1)
    tr:nth-child(odd)
      background-color: RGBA(0, 176, 199,0.15)
    .button
      @include button(flat, $base-accent-color)
      display: inline-block
      font-size: 0.7em
      line-height: $base-line-height
      margin-bottom: 0.3em
      margin-right: 0.5em
      outline: none
      padding: 0.3em 1em
      width: 100%
      @include media($medium-screen)
        margin-bottom: 0
        width: auto
    tr
      td:nth-child(2n+3)
        background-color: RGBA(0, 176, 199,0.07)

.actions
  a.button
    @include button(flat, $base-accent-color)
    display: inline-block
    font-size: 0.7em
    line-height: $base-line-height
    margin-bottom: 0.3em
    margin-right: 0.5em
    outline: none
    padding: 0.3em 1em
    width: 100%
    @include media($medium-screen)
      margin-bottom: 0
      width: auto

form.simple_form.card
  .original
    display: inline-block
  .translated
    display: inline-block
  .review-date
    select
      display: inline-block
